@import "../sass/variables";
@import "../sass/global/reboot";
@import "../sass/global/fonts";

.products {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url("./../img/background.jpg") $color-default-black;
}

.products__wrapper {
  width: fit-content;
  margin: 0 auto;

  h1 {
    display: block;
    font-family: $ff-exo;
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    color: $color-default-white;
    margin: 0 auto;
    text-shadow: 0 1px 1px $color-default-black;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  width: fit-content;
}

.products__card {
  position: relative;
  width: fit-content;
  min-width: 320px;
  padding: 20px 48px 300px;
  background-color: $color-bg-gray;
  border: 4px solid $color-blue;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;

  img {
    position: absolute;
    left: -30px;
    bottom: -92px;
  }

  div {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-blue;
    color: $color-default-white;

    p {
      padding-top: 10px;
      font-size: 42px;
      line-height: 22px;
      margin: 5px 0;
    }

    span {
      font-size: 21px;
    }
  }
}

.products__bottom {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 13px;
  line-height: 15px;
  color: $color-default-white;

  label {
    color: $color-blue;
    text-decoration: dotted;
  }
}
